/** @format */

.container {
  box-sizing: content-box;
  display: block;
  padding: 20px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: var(--bg-color-tho);
}

.upload {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}

.textInput {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
