/** @format */
.container {
  padding: 20px;
  height: calc(100% - 40px);
  background-color: var(--bg-color-tho);
  box-shadow: inset 7px 6px 28px 6px rgba(0, 0, 0, 0.36);
  transition: transform 2s ease-out;
}
.input {
  margin-bottom: 20px;
}
