/** @format */

.container {
  box-sizing: content-box;
  max-width: 600px;
  padding: 20px;
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  border-radius: 5px;

  background-color: var(--bg-color-tho);
}

.auth {
  margin-bottom: 20px;
}
