/** @format */
.container {
  box-sizing: border-box;
  display: block;
  max-height: 470px;
  padding: 10px;

  background-color: var(--bg-color-one);
  transition: all 350ms ease-in-out;
}
.container:hover {
  scale: 105%;
  border: 2px solid #f89b24;
  border-radius: 1%;
}

.img {
  display: block;
  width: 100%;

  object-fit: contain;
}
.prise {
  font-size: 16px;
  font-weight: 700;
  color: #e31837;
}
.flex {
  display: flex;
}
