/** @format */

.container {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  border: 1px solid gray;
  border-radius: 5px;
}
.container:hover {
  border-color: black;
}
.itemContainer {
  display: flex;
  margin-bottom: 10px;
}
