/** @format */

.container {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 255px;

  padding: 15px;
  border: 1px solid rgb(167, 159, 159);
  box-shadow: inset -5px -5px 19px -4px #626262;
}
