/** @format */
.container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 20px;
  transition: all 350ms ease-out;
}

.itemContainer {
  box-sizing: border-box;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  border-radius: 10px;
  border-bottom: 2px solid #e5e5e5;
}

.img {
  display: block;
  width: 100%;
}
.prise {
  font-size: 16px;
  font-weight: 700;
  color: #e31837;
}

.paramContainer {
  min-width: 100px;
  padding: 2px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .itemContainer {
    width: 100%;
  }
}
