/** @format */

.container {
  box-sizing: content-box;
  max-width: 1000px;
  display: block;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: var(--bg-color-tho);
}

.upload {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}

.textInput {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.buttonContainer {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-inline: 20px;
  border: 1px solid grey;
  border-radius: 4px;
}
.buttonContainer:hover {
  border-color: black;
}
