/** @format */

.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  background-color: #e5eef1;
  border-radius: 2px;
}

.name {
  margin-left: 10px;
  margin-right: auto;
}
