/** @format */
.container {
  display: flex;
  margin: 10px;
  padding: 5px;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.orderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.itemOrderContainer {
  display: flex;
}

.itemOrder {
  display: flex;

  padding: 3px;
  border-bottom: 1px solid rgb(60, 60, 60);
}
