/** @format */

.container {
  display: flex;
}

.orderContainer {
  display: flex;
  flex-wrap: wrap;
}
.itemOrder {
  display: flex;
  background-color: rgba(95, 158, 160, 0.577);
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
}
